<div
  class="flex h-screen flex-col justify-center bg-linear-to-br from-gray-950 via-gray-900 to-indigo-950 px-6 py-4 lg:px-8">

  <!-- Header -->
  <div class="text-center sm:mx-auto sm:w-full sm:max-w-sm">

    <!-- Logo -->
    <img
      src="mototaxi.webp"
      alt="Logo"
      class="mx-auto h-14 w-14 rounded-full object-cover drop-shadow-lg" />

    <!-- Subtitle -->
    <p class="mt-3 text-sm text-gray-400">
      Inicia sesión para continuar
    </p>

  </div>

  <!-- Login Container -->
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">

    <!-- Card -->
    <div
      class="rounded-3xl border border-white/10 bg-white/10 p-6 shadow-2xl backdrop-blur-lg">

      <!-- LOGIN EMAIL -->
      <app-auth-email></app-auth-email>

      <!-- Divider -->
      <div class="mt-6 flex items-center">

        <div class="h-px flex-1 bg-gray-700"></div>

        <p class="px-4 text-sm text-gray-400">
          o continuar con
        </p>

        <div class="h-px flex-1 bg-gray-700"></div>

      </div>

      <!-- Social Login -->
      <div class="mt-6 grid grid-cols-2 gap-4">

        <app-auth-google></app-auth-google>

        <app-auth-github></app-auth-github>

      </div>

    </div>

  </div>

</div>