<app-auth-layout subtitle="Inicia sesión para continuar">

  <!-- LOGIN EMAIL -->
  <app-auth-email></app-auth-email>

  <!-- Divider -->
  <div class="mt-6 flex items-center">

    <div class="h-px flex-1 bg-gray-700"></div>

    <p class="px-4 text-sm text-gray-400">
      o continuar con
    </p>

    <div class="h-px flex-1 bg-gray-700"></div>

  </div>

  <!-- Social Login -->
  <div class="mt-6 grid grid-cols-2 gap-4">

    <app-auth-google></app-auth-google>

    <app-auth-github></app-auth-github>

  </div>

</app-auth-layout>