<app-auth-layout subtitle="Inicia sesión para continuar">

  <!-- Formulario login -->
  <app-auth-email></app-auth-email>

  <!-- Separador -->
  <div class="mt-6 flex items-center">

    <div class="h-px flex-1 bg-gray-700"></div>

    <p class="px-4 text-sm text-gray-400">
      o continuar con
    </p>

    <div class="h-px flex-1 bg-gray-700"></div>

  </div>

  <!-- Login social -->
  <div class="mt-6 grid grid-cols-2 gap-4">

    <!-- Login Google -->
    <app-auth-google></app-auth-google>

    <!-- Login GitHub -->
    <app-auth-github></app-auth-github>

  </div>

</app-auth-layout>