<div class="flex min-h-screen bg-zinc-100">

  <!-- BOTON HAMBURGUESA -->
 <!-- BOTON HAMBURGUESA -->
<!-- NAVBAR MOVIL -->
<header
  class="fixed top-0 left-0 z-40 flex h-16 w-full items-center border-b border-zinc-200 bg-white px-4 shadow-sm lg:hidden">

  <!-- HAMBURGUESA -->
  <button
    (click)="toggleSidebar()"
    class="rounded-lg bg-zinc-900 p-3 text-white">

    <i class="fa-solid fa-bars"></i>

  </button>

</header>

  <!-- FONDO OSCURO -->
  <div
    *ngIf="sidebarOpen"
    (click)="closeSidebar()"
    class="fixed inset-0 z-40 bg-black/50 lg:hidden">
  </div>

  <!-- SIDEBAR -->
  <div
    class="fixed left-0 top-0 z-50 transition-transform duration-300 lg:translate-x-0"
    [class.translate-x-0]="sidebarOpen"
    [class.-translate-x-full]="!sidebarOpen">

  <app-sidebar (close)="closeSidebar()"></app-sidebar>

  </div>

  <!-- CONTENIDO -->
  <main class="flex-1 p-4 pt-20 pl-5 pr-3 lg:ml-72 lg:pt-4">

    <router-outlet></router-outlet>

  </main>

</div>